<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/favlocation.css">
    <title>Favourite Location</title>
</head>
<body>
    <div id="nav">
        <ul>
            <% if (user) %>
            <li class="welcome">Welcome, <%= user.name %></li>
            <li class="logout"><a href="/mappage"> Map-Page </a><a href="/logout">Logout</a></li>
        </ul>
    </div>
    <div id="favourite">
        <h2>Your Favourite Locations</h2>
    </div>
    <div id="locname">
        <ol> <% for (let i=0 ; i<user.note.length ; i++) { %>
            <li><%= user.locationname[i] %> <br>
                <%= user.note[i] %>
                <a class="info" href="https://www.wikipedia.org/wiki/<%=user.locationname[i]%>"target="_blank" rel="noopener">Know More...</a>
            <% } %>
        </ol>
    </div>    
    
</body>
</html>