<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>

    <script src='https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" href="/css/mappage.css">

    <title>WEB_BASED_MAP</title>
    
</head>
<body>

<!-- nav bar  -->
  <div>
    <ul id="nav" style="list-style: none;">
      <li class="username">Welcome, <%= user.name %></li>
      <li class="logout"> <a class="btn btn-success btn-sm " href="/savelocation">Find Shortest Route</a> <a class="aspcl" href="/favlocation">Your Favourite Locations</a> <a class="btn btn-danger btn-sm " href="/logout">Log Out</a></li>
    </ul>
   </div>

<!-- Load the `mapbox-gl-geocoder` plugin. -->
<!-- search bar  -->
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css" type="text/css">
<!-- input field div  -->
  <div style="display: inline-block; position: absolute;margin-left: 35px;margin-top: 20px;text-align: right;" >
        <p><form id="simple" action="/mappage" method="post"><button type="submit">Save marked location to favourites</button></form></p>
      <div style="position: absolute;margin-left: 1px;margin-top: 0px;text-align: right; height: 10%; width: 20%;" >
        <p id="features"></p>
      </div>
  </div>
<!-- map div  -->
  <div id="map"></div>

<script>

  mapboxgl.accessToken = 'pk.eyJ1Ijoic3VtYW4wMDA5IiwiYSI6ImNsMzY5YjB2bjFsdHozYnA5dHN3b3FrdjEifQ.rfW8EEKX9_adNETGuzkgrg';

  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11',
    center: [-77.04, 38.907],
    zoom: 11.15
  });

//getting information about the place

let data = {};

const form = document.getElementById('simple');
form.addEventListener('submit', async (p) => {
        p.preventDefault();
        alert("location saved");
            //get the values
            const longitude = data.longitude;
            const latitude = data.latitude;
            const locationname = data.locationname; 
            const note = data.maki;
              try{
                  const res = await fetch('/mappage', {
                  method: 'POST',
                  body: JSON.stringify({ longitude: longitude, latitude: latitude, locationname: locationname, note: note}),
                  headers: {'Content-Type' : 'application/json'},
                  });
                  features = null;
                  const data = await res;
              if (data.errors) {
              }
            }
            catch (err) {
              console.log(err);
            }
          });

    map.on('click', (e) => {
      e.preventDefault();

      features = map.queryRenderedFeatures(e.point);
    const displayFeatures = [
      features[0].properties.name,
      features[0].properties.maki]
    data = {
      "locationname":features[0].properties.name,
      "maki":features[0].properties.maki,
      "longitude":features[0].geometry.coordinates[0],
      "latitude":features[0].geometry.coordinates[1]
    }

    //Write information of selected place.
    document.getElementById('features').innerHTML = displayFeatures;
    });

// Searching feature--->
  map.addControl(
    new MapboxGeocoder({
    accessToken: mapboxgl.accessToken,
    mapboxgl: mapboxgl
    }),
    'top-right'
  ); 

// Add zoom and rotation controls to the map.
const nav = new mapboxgl.NavigationControl()
map.addControl(nav, 'top-left');

</script>

</body>
</html>