<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src='https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" href="/css/mappage.css">

    <title>WEB_BASED_MAP</title>
    
</head>
<body>

<!-- Load the `mapbox-gl-geocoder` plugin. -->
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css" type="text/css">
  
  <!-- map div  -->

  <!-- input field div  -->
  <div style="display: inline-block; position: absolute;margin-left: 35px;margin-top: 20px;text-align: right;" >
    <!-- trying to get output from user  -->
    <ul>
      <div>
        <% if (user) { %>
          <p>Welcome, <%= user.name %> </p>
        <% } else { %>
          <p>not getting email from db</p>
        <% } %> 
      </div>
        <a href="/savelocation">Add your favourite location manually</a>
        <!-- adding place to save address on submitting -->
        <p><form id="simple" action="/mappage" method="post"><button type="submit">Save marked location to favourites</button></form></p>
      <div style="position: absolute;margin-left: 1px;margin-top: 0px;text-align: right; height: 10%; width: 20%;" >
        <pre id="features"></pre>
      </div>
      <div>
        <p><a href="/favlocation"><% if (user) %> <%= user.name %>'s Favourite Locations</a></p>
      </div>
    </ul>
  </div>

  <div style="display: inline-block; position: absolute;margin-left: 35px;margin-top: 20px;text-align: right;"><a href="/logout">Logout</a></div>
  <div id="map"></div>

<script>

  mapboxgl.accessToken = 'pk.eyJ1Ijoic3VtYW4wMDA5IiwiYSI6ImNsMzY5YjB2bjFsdHozYnA5dHN3b3FrdjEifQ.rfW8EEKX9_adNETGuzkgrg';

  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11',
    center: [-77.04, 38.907],
    zoom: 11.15
  });
    // Searching feature--->
    map.addControl(
    new MapboxGeocoder({
    accessToken: mapboxgl.accessToken,
    mapboxgl: mapboxgl
    })
  ); 

//getting information about the place

let data = {};

const form = document.getElementById('simple');
form.addEventListener('submit', async (p) => {
        p.preventDefault();
            //get the values
            const longitude = data.longitude;
            const latitude = data.latitude;
            const locationname = data.locationname; 
            const note = data.maki;
              try{
                  const res = await fetch('/mappage', {
                  method: 'POST',
                  body: JSON.stringify({ longitude: longitude, latitude: latitude, locationname: locationname, note: note}),
                  headers: {'Content-Type' : 'application/json'},
                  });
                  features = null;
                  const data = await res;
              if (data.errors) {
              }
            }
            catch (err) {
              console.log(err);
            }
          });

    map.on('click', (e) => {
      e.preventDefault();

      features = map.queryRenderedFeatures(e.point);
    const displayFeatures = [
      features[0].properties.name,
      features[0].properties.maki,
      "longitude : ",features[0].geometry.coordinates[0],
      "latitude : ", features[0].geometry.coordinates[1]
    ]
    data = {
      "locationname":features[0].properties.name,
      "maki":features[0].properties.maki,
      "longitude":features[0].geometry.coordinates[0],
      "latitude":features[0].geometry.coordinates[1]
    }

    //Write object as string with an indent of two spaces.
    document.getElementById('features').innerHTML = JSON.stringify(
    displayFeatures,
    null,
    2
    );
    });

// Add zoom and rotation controls to the map.
const nav = new mapboxgl.NavigationControl()
map.addControl(nav, 'top-left');


</script>

</body>
</html>

