<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="/css/mappage.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <title>WEB_BASED_MAP</title>
    
</head>
<body>

<div onClick="OpenNavbar()" className="openNavIcon d-inline-block position-absolute m-4 pr-5"><i class="fa fa-bars" aria-hidden="true"></i> </div>


<div class="d-flex flex-column" id="side_nav">
  <div onClick="CloseNavbar()" className="openNavIcon text-white d-inline-block position-absolute m-1 pr-5"  ><i class="fa fa-close" aria-hidden="true"></i> </div>
   <div><img id="img" src="https://img.freepik.com/free-photo/beautiful-autumn-leaves-autumn-red-background-sunny-daylight-horizontal_1220-1665.jpg?w=2000&t=st=1659042340~exp=1659042940~hmac=5a7319b791c22771764f7c361403db7364638fb9877c1459400387a3f53e2be2" alt=""></div><br>
   <div><p id="features" style="text-align: center;"></p></div>
    <br><br><br>
   <div style="margin-left: 19%;"><form id="simple" action="/mappage" method="post"><button id="mabtn" class="btn btn-outline my-1" style="border: 2px solid orchid;" type="submit"><span class="material-symbols-outlined">heart_plus</span><br> Favourite</button><a class="btn btn-outline-success btn-sm mx-3" href="/savelocation"><span class="material-symbols-outlined">arrow_circle_right</span><br> Direction</a></div>  

   <div>

    <div class="w3-content w3-display-container" style="max-width:800px">
      <img class="mySlides" id="img1" src="https://img.freepik.com/free-photo/beautiful-autumn-leaves-autumn-red-background-sunny-daylight-horizontal_1220-1665.jpg?w=2000&t=st=1659042340~exp=1659042940~hmac=5a7319b791c22771764f7c361403db7364638fb9877c1459400387a3f53e2be2" style="width:27.5vw">
      <img class="mySlides" id="img2" src="https://img.freepik.com/free-photo/beautiful-autumn-leaves-autumn-red-background-sunny-daylight-horizontal_1220-1665.jpg?w=2000&t=st=1659042340~exp=1659042940~hmac=5a7319b791c22771764f7c361403db7364638fb9877c1459400387a3f53e2be2" style="width:27.5vw">
      <div class="w3-center w3-container w3-section w3-large w3-text-white w3-display-bottommiddle" style="width:100%">
        <div class="w3-left w3-hover-text-khaki" onclick="plusDivs(-1)">&#10094;</div>
        <div class="w3-right w3-hover-text-khaki" onclick="plusDivs(1)">&#10095;</div>
        <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
        <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
      </div>
    </div>

   </div>

   <div id="wikidata" style="height: 10cm;overflow: scroll;"></div>


</div>

<!-- Load the `mapbox-gl-geocoder` plugin. -->
<!-- search bar  -->
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css" type="text/css">
<!-- input field div  -->
  <div style="display: inline-block; position: absolute;margin-left: 35px;margin-top: 0px;text-align: right;" >
        <p id="features"></p>
  </div>
<!-- map div  -->
  <div id="map"></div>
  <div style="position: absolute; z-index: 9;right: 0; margin-right: 19%;margin-top: -1.15%;"></form><a class="btn btn-outline-primary" style="text-decoration: none;" href="/favlocation">Favourite Locations</a><a class="btn btn-outline-danger btn-sm mx-3" href="/logout" style="font-size: 1.08em;"><i class="fa fa-sign-out" aria-hidden="true"></i>Log Out</a> </div> 
    <!-- <div id="wikidata" style="height: 10cm;overflow: scroll;"></div> -->

<script>

   // SIDE EFFECT IN  SIDENAV

   function OpenNavbar() {
        document.getElementById("side_nav").style.width = "28%";
    }

    function CloseNavbar() {
        document.getElementById("side_nav").style.width = "0";
    }
  mapboxgl.accessToken = 'pk.eyJ1Ijoic3VtYW4wMDA5IiwiYSI6ImNsMzY5YjB2bjFsdHozYnA5dHN3b3FrdjEifQ.rfW8EEKX9_adNETGuzkgrg';

  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11',
    center: [88.3639, 22.5726],
    zoom: 12.00
  });

//getting information about the place

let data = {};

const form = document.getElementById('simple');
form.addEventListener('submit', async (p) => {
        p.preventDefault();
        alert("location saved");
            //get the values
            const longitude = data.longitude;
            const latitude = data.latitude;
            const locationname = data.locationname; 
            const note = data.maki;
              try{
                  const res = await fetch('/mappage', {
                  method: 'POST',
                  body: JSON.stringify({ longitude: longitude, latitude: latitude, locationname: locationname, note: note}),
                  headers: {'Content-Type' : 'application/json'},
                  });
                  features = null;
                  const data = await res;
              if (data.errors) {
              }
            }
            catch (err) {
              console.log(err);
            }
          });

    map.on('click', (e) => {
      e.preventDefault();

      features = map.queryRenderedFeatures(e.point);
    const displayFeatures = [
      features[0].properties.name,
      features[0].properties.maki]
    data = {
      "locationname":features[0].properties.name,
      "maki":features[0].properties.maki,
      "longitude":features[0].geometry.coordinates[0],
      "latitude":features[0].geometry.coordinates[1]
    }
  //Write information of selected place.
    document.getElementById('features').innerHTML = displayFeatures;

    //get image of the place
      const url = 'https://api.unsplash.com/search/photos/?query='+data.locationname+'&page=1&order_by=relevant&client_id=QN-3GOYb9qZ2hka1F11Tm2t7m4PEy0L4Yj92ZYF2b3g';

      fetch(url).then((response) => {
        return response.json();
      }).then((data) => {
          const imgData = [ 
            data.results[0].urls.full,
            data.results[1].urls.full,
            data.results[2].urls.full,
          ]
          document.getElementById('img').src = imgData[0];
          document.getElementById('img1').src = imgData[1];
          document.getElementById('img2').src = imgData[2];
      }).catch((err) => {
          console.log(err);
      });

  //getting wiki api
    const param = data.locationname;
    fetchWikiExtract(param);

    async function fetchWikiExtract(param) {
    const wikiEndpoint = 'https://en.wikipedia.org/w/api.php';
    const wikiParams = '?action=query'
    + "&prop=extracts"
    + "&exlimit=1"
    + "&titles=" + param
    + "&explaintext=1"
    + "&format=json"
    + "&formatversion=2"
    + "&origin=*";
  
    const wikiLink = wikiEndpoint + wikiParams
  
    var wikiconfig = {
      timeout: 650000000000
    };
    
    const data = await axios.get(wikiLink, wikiconfig);

    document.getElementById('wikidata').innerHTML = data.data.query.pages[0].extract;

    return data;

    };

    document.getElementById("map").addEventListener("click",OpenNavbar());

  });

// Searching feature--->
  map.addControl(
    new MapboxGeocoder({
    accessToken: mapboxgl.accessToken,
    mapboxgl: mapboxgl
    }),
    'top-right'
  ); 

// Add zoom and rotation controls to the map.
const nav = new mapboxgl.NavigationControl()
map.addControl(nav, 'bottom-right');

//image slide
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function currentDiv(n) {
  showDivs(slideIndex = n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" w3-white", "");
  }
  x[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " w3-white";
}

</script>

</body>
</html>