<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Based Map</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="container-fluid d-flex align-items-center justify-content-center">
        <div class="loginForm">
            <p class="text-center display-6 text-white mt-4">REGISTER</p>
            <form action="/Login" method="post">
                <!-- name  -->
                <div class="mb-3 mx-4">
                  <label for="name" class="form-label"></label>
                  <input type="text" class="form-control" name="name" id="name" aria-describedby="helpId" placeholder="Enter Your Name" required>
                </div>
                <!-- email  -->
                <div class="mb-3 mx-4">
                    <label for="email" class="form-label"></label>
                    <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelpId"
                        placeholder="Enter Your Email" required>
                </div>
                <div class="email error" style="color: cadetblue; padding: 2px;" ></div>
                <!-- password  -->
                <div class="mb-3 mx-4">
                    <label for="password" class="form-label"></label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="Enter your password" required>
                </div>
                <div class="password error" style="color: cadetblue; padding: 2px;"></div>
                <p class="text-center my-5"><button id="submit">Submit</button></p>
                <!-- <a type="submit" id="submit" class="btn">Submit</a>  //old button -->
            </form>

            <!-- js for sending data to server  -->
            <script>
                const form = document.querySelector('form');
                const emailError = document.querySelector('.email.error');
                const passwordError = document.querySelector('.password.error');

                form.addEventListener('submit', async (e) => {
                    e.preventDefault();

                    //reset errors
                    emailError.textContent = '';
                    passwordError.textContent = '';

                    //get the values
                    const name = form.name.value;
                    const email = form.email.value;
                    const password = form.password.value;

                    try{
                        const res = await fetch('/register', {
                            method: 'POST',
                            body: JSON.stringify({ name, email, password }), 
                            //"name: name, email: email" as both of them r same so we can use name, email instead of writing them full
                            headers: { 'Content-Type' : 'application/json' }
                        });
                        const data = await res.json();
                        console.log(data);
                        if (data.errors){
                            emailError.textContent = data.errors.email;
                            passwordError.textContent = data.errors.password;
                        }
                        if (data.user) {
                            location.assign('/');
                        }
                    }
                    catch (err) {
                        console.log(err);
                    }
                });
            </script>

            <p class="text-center text-white h5 my-3"><span>Don't Have a Account? </span><span><a href="login"
                        style="text-decoration: none;color: red;"> Login </a></span></p>
        </div>


    </div>
</body>

</html>




<!-- old ejs file  -->
<!-- <h1 style="text-align: center;">Register</h1>

<form action="/register" method="post">
    <div style="text-align: center;">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" required>
    </div>
    <div style="text-align: center; padding: 5px;">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required>
    </div>
    <div style="text-align: center;">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
    </div>
    <div style="text-align: center; padding: 6px;">
        <button type="submit">Register</button>
    </div>
    
</form>

<a href="/login">Login</a> -->