body{
    height: 100vh;
    background-image: url('/images/mapbg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5px;
}
#map{
    width: 70vw; 
    height: 88vh;
    margin-left: 28%;
    margin-bottom: 0%;
    display: inline-block;
    padding: 3px solid rgb(6, 1, 7);
    border-radius: 12px;
}
.mapboxgl-popup {
    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    }
a.aspcl{
      font-family: fantasy;
      border: 2px solid rgb(214, 75, 233);
      padding: 5px 10px;
      border-radius: 5px;
      transition: all 0.2s;
    }
a.aspcl:hover{
      background-color: rgb(171, 17, 209);
      color: white;
    }
button{
      font-family: fantasy;
      color: rgb(255, 0, 255);
      border: 2px solid rgb(236, 64, 208);
      padding: 5px 10px;
      border-radius: 5px;
      transition: all 0.2s;
      margin-left: 18px;
    }
button:hover{
      background-color: rgb(238, 27, 203);
      color: white;
    }
#info {
        display: table;
        position: absolute;
        margin: 0px auto;
        word-wrap: anywhere;
        white-space: pre-wrap;
        padding: 10px;
        border: none;
        border-radius: 3px;
        font-size: 12px;
        text-align: left;
        color: #222;
        background: rgb(60, 175, 228);
    }
#features {
        font-family: fantasy;
        position: absolute;
        top: auto;
        right: auto;
        bottom: auto;
        height: auto;
        width: 22vw;
        overflow: auto;
        /* background: rgb(3, 218, 247); */
        /* opacity: 90%; */
        /* border-radius: 2px; */
        font-size: 1.4em;
        text-align: left;
    }  
#map canvas {
        cursor: default;
    }
#nav{
    display: flex;
    flex-direction: row;
}
li.logout{
    margin-left: 35%;
}
li.username{
    font-size: 180%;
    font-family: cursive;
    color: rgb(0, 61, 245);
}
li.username:hover{
    font-size: 180%;
    font-family: cursive;
    color: rgb(154, 84, 235);
}
#img{
    display: flex;
    width: 20vw;
    height: 15vw;
}
#img1{
    display: flex;
    width: 20vw;
    height: 15vw;    
}
#img2{
    display: flex;
    width: 20vw;
    height: 15vw;
}