body{
    height: 100vh;
    background-image: url('/images/mapbg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}
#map{
    width: 70vw; 
    height: 98vh;
    margin-left: 28%;
    margin-bottom: 23%;
    display: inline-block;
    padding: 3px solid rgb(6, 1, 7);
}
.mapboxgl-popup {
    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    }
a{
      text-decoration: none;
      border: 2px solid blue;
      padding: 5px 10px;
      border-radius: 5px;
      transition: all 0.2s;
    }
a:hover{
      background-color: rgb(0, 0, 255);
      color: white;
    }
button{
      text-decoration: none;
      border: 2px solid rgb(236, 64, 208);
      padding: 5px 10px;
      border-radius: 5px;
      transition: all 0.2s;
    }
button:hover{
      background-color: rgb(238, 27, 203);
      color: white;
    }
.coordinates {
        background: rgba(0, 0, 0, 0.5);
        color: #fff;
        position: absolute;
        bottom: 40px;
        left: 10px;
        padding: 5px 10px;
        margin: 0;
        font-size: 11px;
        line-height: 18px;
        border-radius: 3px;
        display: none;
    }
#info {
        display: table;
        position: absolute;
        margin: 0px auto;
        word-wrap: anywhere;
        white-space: pre-wrap;
        padding: 10px;
        border: none;
        border-radius: 3px;
        font-size: 12px;
        text-align: left;
        color: #222;
        background: rgb(60, 175, 228);
    }
#features {
        position: absolute;
        top: auto;
        right: auto;
        bottom: auto;
        height: auto;
        width: 22vw;
        overflow: auto;
        margin-top: 60%;
        background: rgb(3, 218, 247);
        opacity: 90%;
        border-radius: 8px;
    }
#map canvas {
        cursor: default;
    }