body{
    height: 100vh;
    background-image: url('/images/mapbg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}
#map{
    width: 99vw; 
    height: 89vh;
    display: inline-block;
    padding: 3px solid rgb(6, 1, 7);
    border-radius: 12px;
    margin-top: 0px;
}
.mapboxgl-popup {
    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    }
a{
      text-decoration: none;
      border: 2px solid blue;
      padding: 5px 10px;
      border-radius: 5px;
      transition: all 0.2s;
    }
a:hover{
      background-color: rgb(0, 0, 255);
      color: white;
    }
button{
      text-decoration: none;
      border: 2px solid rgb(236, 64, 208);
      padding: 5px 10px;
      border-radius: 5px;
      transition: all 0.2s;
    }
button:hover{
      background-color: rgb(238, 27, 203);
      color: white;
    }
#map canvas {
        cursor: default;
    }
#nav{
    display: flex;
    flex-direction: row;
}
li.logout{
    margin-left: 58%;
}
li.username{
    font-size: 180%;
    font-family: cursive;
    color: rgb(0, 61, 245);
}
li.username:hover{
    font-size: 180%;
    font-family: cursive;
    color: rgb(154, 84, 235);
}